<div id="container">
  <div  class="cartaContainer">
       <carta [id]="carta1" (sel)="sceltaCarta(1)" [selectable]="carteSelezionabili"></carta>
  </div>
  <div  class="cartaContainer">
     <carta [id]="carta2" (sel)="sceltaCarta(2)" [selectable]="carteSelezionabili"></carta>
  </div>
  <div  class="cartaContainer">
  <carta [id]="carta3" (sel)="sceltaCarta(3)" [selectable]="carteSelezionabili"></carta>
  </div>
  </div> 
  <div style="clear:both">&nbsp;</div>
  
   <div  class="cartaContainer">
     <table  style="position:relative;left:7vw;">
     <tr><td style="margin-right:40vw;">
         
      <carta *ngFor="let item of [].constructor(game.carteNelMazzo); let i = index" [id]="i+''"></carta>
      </td>
      <td>
        <div style="clear: both;"></div>
        <carta [id]="briscola" class="briscola"></carta></td>
     </tr>
     </table>
  </div>
  <div id="displaycontainer">  
       <div>
          <div class="img"><img src="assets/images/gioco/display.gif" ></div>
        <div class="layer"></div>
          <div class="inner">
                  {{print}}
                  <p *ngIf="!wait && tastoContent != null" class="actionbutton"><button  (click)="tastoHandler()">{{tastoContent}}</button></p>
                  <p *ngIf="wait" class="actionbutton"><img src="assets/images/spinner.gif"></p>
          </div>
     </div>
  </div>
  
  <div class="carteDaGiocare">
       <table>
   <tr><td><carta  [id]="giocata1"></carta></td>
   <td><carta [id]="giocata2"></carta>
   </td></tr>
   </table>
   </div>
   <div style="clear:both">&nbsp;</div>
   <div class="punteggio" *ngIf="giocatore[0] && giocatore[1]">
      {{giocatore[0]+' '+game?.punteggio1+' - '+giocatore[1]+' '+game?.punteggio2}}
      <span id="numeroCarte" *ngIf="game.carteNelMazzo>0">{{'(Carte nel mazzo:'+game?.carteNelMazzo+')'}}</span>
   </div>
   <div id="displaycontainerP">  
    <div>
       <div class="img"><img src="assets/images/gioco/display.gif" ></div>
     <div class="layerP"></div>
       <div class="innerP">{{print}}
        <p *ngIf="!wait && tastoContent != null" class="actionbutton"><button  (click)="tastoHandler()">{{tastoContent}}</button></p>
        <p *ngIf="wait"><img src="assets/images/spinner.gif"></p>
       </div>
  </div>
</div>