.selectable {cursor:pointer;}

.carta {
    width: 8.5vw;
    height: 16vw;
    border-width: 4px;
    border-style: solid;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.9vw;
    padding-bottom: 0vm;
    border-radius: 15px;
    float: right;
    margin-right: 33%;
    overflow: auto;
  }
  
  .coperta {
    background-image: url('^assets/images/gioco/fill.png');
    width: 8.2vw;
  }
  
  /*  Modifiche per portrait (orientamento dispositivi mobili) */
  
  @media all and (orientation: portrait) {
    .carta {
      width: 14.4vw;
      height: 26.5vw;
    }
  
    .coperta {
      width: 14vw;
      height: 26.5vw;
    }
  }

  .hidden {visibility: hidden;}
  